body {
    margin: 0px;
}

* {

    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "many header sok"
        "ppp ppp ppp"
        "film film film";
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 50px 20px 450px;
    /* width: 100vw; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid black;
    grid-area: headergrid;

    ;

    background-image: url('/bilder/backgrund.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}





.header {
    position: relative;
    right: 400px;
    grid-area: header;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7),
        4px 4px 0px rgba(0, 0, 0, 0.5),
        6px 6px 0px rgba(0, 0, 0, 0.3),
        8px 8px 0px rgba(0, 0, 0, 0.2),
        10px 10px 0px rgba(0, 0, 0, 0.1);
}

.ppp {
    position: relative;
    right: 29%;
    grid-area: ppp;
    padding: 40px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   

}

.many {
    grid-area: many;
    position: fixed;
    top: 10px;
    left: 10px;


}

.sok {
    
    grid-area: sok;
    padding: 10px;
    float: right;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50px;
}

.container2 {
    display: grid;
    grid-template-areas:
        "headergrid"
        "content"
    ;

    grid-template-columns: 100%;
    grid-template-rows: 520px auto;

    width: 100%;
}


.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 100px; */
    grid-area: content;
    
}

img {
    position: relative;
    border-radius: 12px;
    /* right: 150px; */
}

.product-card {

    border-radius: 8px;
    padding: 100px 0px 0px 0px;
    width: 500px;
    height: 400px;

}

.product-card:hover {
 transform: scale(1.05);
    transition: all 0.3s ease;
}

.buy-button {
   
    padding: 5px 10px;
    border-radius: 8px;
    position: relative;
    bottom:40px;
    left: 440px;
    font-size: 15px;

}

@media (max-width: 1568px) {
    .ppp {
        
        margin: 10px;
        text-align: center;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        
    }
    .header {
        position: relative;
        right: 90%;
        padding: 20px;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7),
            4px 4px 0px rgba(0, 0, 0, 0.5),
            6px 6px 0px rgba(0, 0, 0, 0.3),
            8px 8px 0px rgba(0, 0, 0, 0.2),
            10px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .sok {
        position: relative;
        left: 20px;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 1145px) {
    .ppp {
        position: relative;
        right: 10%;
        bottom: 90px;
        padding: 40px;
        text-align: center;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        
    }
    .header {
        position: relative;
        right: 80%;
        padding: 20px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7),
            4px 4px 0px rgba(0, 0, 0, 0.5),
            6px 6px 0px rgba(0, 0, 0, 0.3),
            8px 8px 0px rgba(0, 0, 0, 0.2),
            10px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .sok {
        position: relative;
        top: 10px;
        left: 0px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
}